body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: #0F0;
}
.matrix-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../img/matrix.gif');
}
.coming-soon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #0F0;
    animation: typing 1.5s steps(30) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}

@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: #0F0;}
}

